lombok.log.apacheCommons.flagUsage = error
lombok.log.log4j.flagUsage = error
lombok.log.log4j2.flagUsage = error
lombok.log.xslf4j.flagUsage = error
lombok.log.fieldName=log
lombok.log.fieldIsStatic=true

lombok.allArgsConstructor.flagUsage = error
lombok.requiredArgsConstructor.flagUsage = error
lombok.data.flagUsage = error
lombok.equals.flagUsage = error
lombok.hashCode.flagUsage = error
lombok.equalsAndhashCode.flagUsage = error